.duvidas {
  margin-top: 80px;
  margin-bottom: 80px;
}
.duvidas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 40px;
  object-fit: cover;
}

.duvidas-container img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  border-radius: 4px;
}

.duvidas-lista dt {
  color: #202020;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.duvidas-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #e8473d;
}

.duvidas-lista dd {
  margin-bottom: 0.5rem;
  margin-left: 30px;
  color: #606060;
}

@media (max-width: 800px) {
  .duvidas {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .duvidas-container {
    grid-template-columns: 1fr;
  }
  .duvidas-container img {
    display: none;
  }
}

@media (max-width: 400px) {
  .duvidas-lista dt {
    font-size: 0.75rem;
  }
  .duvidas-lista dd {
    font-size: 0.75rem;
  }
}

[data-tab="accordion"] dd {
  display: none;
}

[data-tab="accordion"] dt::after {
  content: "▼";
  margin-left: 10px;
  opacity: 0.8;
}

[data-tab="accordion"] dt.active::after {
  content: "▲";
}

[data-tab="accordion"] dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 250px;
  }
}
