[data-menu="button"] {
  display: none;
}

@media (max-width: 800px) {
  [data-menu="button"] {
    display: flex;
    background: #e8473d;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  [data-menu="button"]::before {
    content: "";
    margin-right: 4px;
    display: inline-block;
    height: 2px;
    width: 12px;
    background: white;
    box-shadow: 0 4px white, 0 -4px white;
    transition: transform 0.3s;
  }

  [data-menu="button"].active::before {
    transform: rotate(-90deg);
  }

  [data-menu="list"] {
    display: none;
    position: absolute;
    background: white;
    width: 160px;
    z-index: 200;
    padding: 100px 0 20px 0;
    top: 0;
    right: 0;
    box-shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  @keyframes show-left {
    from {
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  [data-menu="list"].active {
    display: block;
    animation: show-left 0.3s forwards;
  }
}
